/*************** general *****************/
::-webkit-scrollbar {
  display: none;
}

html {
  --bg: #fff;
  --bg2: #00000079;
  --defineColor1: #292929;
  --defineColor1-transparent: #292929b9;
  --text-color: #000;
  --text-color2: #fff;
  --header-text-color: #fff;
  --currentClassColor: #24B143;
  --color1: #1B8570;
  --color2: #24B143;
  --borderColor: #000;
  --defineBg: #a4dc8eb7;
  --defineBg2: #24b142a6;
  --defineBg3: #DAE2BD;
  --defineBg3-transparent: #dae2bdbb;
  --button-active-color: #DAE2BD;
  --button-hover-color: #A4DC8E;
  --linkColor: #24B143;
  --brightness-filter: 75%;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  background: var(--bg);
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*************** color-sheme *****************/
@media (prefers-color-scheme: dark) {
  html {
    --bg: #171717;
    --text-color: #f7f7f7;
    --header-text-color: #f7f7f7;
    --defineBg: hsla(103, 36%, 61%, 0.72);
    --defineBg3: #8f947b;
    --defineBg3-transparent: #8f947bbb;
    --button-hover-color: #5aad39f5;
    --button-active-color: #9caa69;
    --bg2: #27272779;
    --color1: hsl(168, 66%, 28%);
    --brightness-filter: 50%;
  }

  footer a {
    color: #32f05b !important;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.overflow-hidden {
  overflow: hidden;
}

.pointer-events {
  pointer-events: none;
}

/*************** header *****************/
.opacity-show {
  opacity: 1 !important;
}

.expand {
  z-index: 500;
  transition: height 0.3s;
  height: calc( 100vh - 14px );
}
.expand nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header.expand a {
  z-index: 300;
}

header {
  transition: height 0.3s ease, z-index 0s 0.3s;
  height: 70px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
  margin: 7px;
  z-index: 100;
  color: var(--header-text-color);
  display: flex;
  background: var(--defineColor1-transparent);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  position: fixed;
  width: calc( 100vw - 14px );
}
header .branding a {
  color: var(--text-color2);
  text-decoration: none;
}
header .branding h2 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 70px;
  vertical-align: middle;
  padding-left: 75px;
  margin-left: 35px;
  background-image: url(../img/logo/transparentLogo.png);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: left center;
}
header nav ~ p {
  opacity: 0;
  transition: 0.3s ease;
  font-size: 2em;
  position: absolute;
  top: 19px;
  right: 50px;
}
header nav ~ .fa-times {
  margin: 0 2px 4px 0;
  font-size: 2.15em;
}
header nav {
  opacity: 1;
  transition: 0.3s ease;
  position: absolute;
  right: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header nav li {
  display: inline;
  margin: 0 10px;
}
header nav li a {
  transition: 0.25s ease;
  text-decoration: none;
  color: var(--header-text-color);
  padding: 7px 10px;
  border-radius: 5px;
}
header nav li a:hover {
  transition: 0.25s ease;
  background-color: var(--button-hover-color);
  color: var(--text-color);
}
header nav li a:active {
  background-color: var(--button-active-color);
}
header nav li:last-child {
  margin-right: 20px;
}
header nav li:last-child a:hover {
  background-color: #00000000;
}
header nav li:last-child a:hover i {
  color: var(--button-hover-color);
}
header nav li:last-child a {
  text-decoration: none;
}
header nav li:last-child i {
  font-size: 23px;
  position: relative;
  top: 3px;
  z-index: -10;
}
header nav li:last-child #cart-count {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  margin-left: -10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 9px;
  position: relative;
  bottom: 8px;
}
header nav ul {
  line-height: 70px;
  vertical-align: middle;
}
header nav .current {
  background-color: var(--currentClassColor);
}

main {
  transition: 0.3s ease;
}

/*************** flexboxes *****************/
.flex {
  display: flex;
}

.col-50 {
  width: 50%;
}

.col-33 {
  width: calc( 100% / 3 );
}

.col-25 {
  width: 25%;
}

.col-75 {
  width: 75%;
}

.col-45 {
  width: 45%;
}

.col-55 {
  width: 55%;
}

/*************** alignment *****************/  
.align-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  color: var(--color1) !important;
  padding: 7%;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 500;
  font-size: 320% !important;
  text-align: center;
}

/*************** showcase ****************/
.showcase {
  height: 100vh;
  position: relative;
}
.showcase .flex {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.showcase img {
  display: block;
  width: 80%;
  margin: 0 5% 0 15%;
}
.showcase h1 {
  font-size: 4.5rem;
  display: inline;
  padding: 0 60px;
  color: var(--color1);
}
.showcase p {
  padding: 0 63px;
  font-size: 1.5rem;
  font-weight: bold;
}
.showcase .scrolldown {
  position: absolute;
  bottom: 40px;
  right: 50vw;
  transform: translateX(50%);
  opacity: 1;
  -webkit-animation-name: scrollIcon;
          animation-name: scrollIcon;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.scrolldown i {
  font-size: 34px;
  color: var(--text-color);
}

@-webkit-keyframes scrollIcon {
  from {
    height: 35px;
    opacity: 0;
  }
  10% {
    height: 35px;
    opacity: 1;
  }
  to {
    height: 18px;
    opacity: 0;
  }
}

@keyframes scrollIcon {
  from {
    height: 35px;
    opacity: 0;
  }
  10% {
    height: 35px;
    opacity: 1;
  }
  to {
    height: 18px;
    opacity: 0;
  }
}
/**************** product presentation ****************/
.product-presentation {
  padding-top: 125px;
}
.product-presentation .section-title {
  padding-bottom: 7%;
}
.product-presentation .flex {
  margin: 5% 0;
  padding: 0 5% 0 5%;
}
.product-presentation h1 {
  color: var(--color2);
  text-align: center;
  font-size: 3.15em;
}
.product-presentation img {
  display: block;
  margin: 0 auto;
  height: 400px;
  transition: 0.4s ease;
}
.product-presentation a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.4s ease;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}
.product-presentation .col-50 {
  position: relative;
}
.product-presentation img:hover ~ a, .product-presentation a:hover, .product-presentation .col-50:hover > a {
  opacity: 1;
}
.product-presentation a:after {
  width: 0%;
  content: "";
  position: absolute;
  height: 100%;
  padding-top: 2px;
  bottom: -4px;
  right: 0;
  border-bottom: 2px solid #fff;
  transition: width 500ms;
}
.product-presentation a:hover:after {
  left: 0;
  width: 100%;
}
.product-presentation img:hover, .product-presentation .col-50:hover > img {
  filter: brightness(66%) blur(2px);
}

/*************** featured products *****************/
.featured, .partners, .products, .recommendations {
  width: 90%;
  margin: 100px auto 0 auto;
}
.featured .flex, .partners .flex, .products .flex, .recommendations .flex {
  align-items: stretch;
  padding: 0 5% 0 5%;
  justify-content: space-around;
}
.featured .flex .wrapper, .partners .flex .wrapper, .products .flex .wrapper, .recommendations .flex .wrapper {
  max-width: 345.73px;
  box-sizing: border-box;
  background: var(--defineBg);
  margin: 2%;
  border-radius: 15px;
}
.featured .flex .wrapper .top__img, .partners .flex .wrapper .top__img, .products .flex .wrapper .top__img, .recommendations .flex .wrapper .top__img {
  z-index: 20;
  position: relative;
  width: 70%;
  margin: 0 15%;
  border-radius: 5%;
  background-color: var(--bg);
}
.featured .flex .wrapper .top__img img, .partners .flex .wrapper .top__img img, .products .flex .wrapper .top__img img, .recommendations .flex .wrapper .top__img img {
  z-index: -30;
  width: 100%;
  display: block;
  margin-top: 18%;
  margin-bottom: 0;
  border-radius: 5%;
  transition: 0.4s ease;
}
.featured .flex .wrapper .top__img:hover img, .partners .flex .wrapper .top__img:hover img, .products .flex .wrapper .top__img:hover img, .recommendations .flex .wrapper .top__img:hover img {
  z-index: -500;
  opacity: 0.2;
  transition: 0.4s ease;
  background-color: var(--bg);
}
.featured .flex .wrapper .top__img .name-and-links, .partners .flex .wrapper .top__img .name-and-links, .products .flex .wrapper .top__img .name-and-links, .recommendations .flex .wrapper .top__img .name-and-links {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 300;
  transition: 0.4s ease;
  opacity: 0;
  transform: rotateX(180deg);
}
.featured .flex .wrapper .top__img .name-and-links a, .featured .flex .wrapper .top__img .name-and-links p, .partners .flex .wrapper .top__img .name-and-links a, .partners .flex .wrapper .top__img .name-and-links p, .products .flex .wrapper .top__img .name-and-links a, .products .flex .wrapper .top__img .name-and-links p, .recommendations .flex .wrapper .top__img .name-and-links a, .recommendations .flex .wrapper .top__img .name-and-links p {
  color: var(--text-color) !important;
  text-decoration: none !important;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-decoration: none;
  font-size: 120%;
  padding: 3.5% 4.5%;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-weight: 500;
}
.featured .flex .wrapper .top__img:hover .name-and-links, .partners .flex .wrapper .top__img:hover .name-and-links, .products .flex .wrapper .top__img:hover .name-and-links, .recommendations .flex .wrapper .top__img:hover .name-and-links {
  transition: 0.4s ease;
  opacity: 1;
  transform: rotateX(360deg);
}
.featured .flex .wrapper .top__img:hover .name-and-links img, .partners .flex .wrapper .top__img:hover .name-and-links img, .products .flex .wrapper .top__img:hover .name-and-links img, .recommendations .flex .wrapper .top__img:hover .name-and-links img {
  opacity: 1;
}
.featured .flex .wrapper .bottom__description, .partners .flex .wrapper .bottom__description, .products .flex .wrapper .bottom__description, .recommendations .flex .wrapper .bottom__description {
  margin: auto 0;
}
.featured .flex .wrapper .bottom__description h3, .partners .flex .wrapper .bottom__description h3, .products .flex .wrapper .bottom__description h3, .recommendations .flex .wrapper .bottom__description h3 {
  padding: 10% 13.5%;
  text-align: center;
  font-weight: 400;
}

/*************** partners *****************/
.partners .wrapper {
  background: var(--defineBg2) !important;
}

/*************************  Pages  ***************************/
#product-page {
  margin: 84px 7px 0;
}
#product-page .product-information .product__name, #product-page .product-information .information-list {
  color: var(--text-color);
}
#product-page .product-information .product-bottom-infos {
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#product-page .product-information .product-bottom-infos .price {
  width: 50%;
  color: var(--text-color);
}
#product-page .product-information .product-bottom-infos .input-wrapper {
  margin-top: 5px;
  width: 50%;
  position: relative;
}
#product-page .product-information .product-bottom-infos .input-wrapper label {
  color: var(--text-color);
  position: absolute;
  top: -15px;
}
#product-page .product-information .product-bottom-infos .input-wrapper input {
  max-width: 100%;
  margin-top: 5px;
  background: var(--defineBg);
  border: none;
  padding: 2%;
  border-radius: 7px;
  font-weight: bold;
  font-size: 1.04rem;
  border: 2px solid #00000000;
}
#product-page .product-information .product-bottom-infos .input-wrapper input:focus {
  outline: none;
  border: 2px solid var(--text-color);
}
#product-page .product-information .product-bottom-infos p {
  line-height: 41px;
  vertical-align: middle;
  text-align: end;
  width: 50%;
  color: var(--text-color);
  font-size: 1.2rem;
}
#product-page .product-information .product-bottom-infos i {
  font-size: 1.5rem;
  color: var(--color1);
}
#product-page .product-information .product-bottom-infos i:hover {
  transition: 200ms ease;
  color: var(--linkColor);
}
#product-page .product-information .product-bottom-infos i:active {
  transition-duration: 60ms;
  color: var(--button-active-color);
}
#product-page .recommendations {
  margin: 3% auto;
}
#product-page .recommendations .section-title {
  font-size: 2.4rem !important;
}
#product-page .recommendations .flex {
  padding: 0;
}
#product-page .recommendations a {
  color: #000;
  text-decoration: none;
}
#product-page .recommendations a:hover {
  text-decoration: underline;
}
#product-page .recommendations .top__img {
  width: 85%;
  margin: 0 7.5%;
}
#product-page .recommendations .top__img img {
  margin-top: 9%;
}
#product-page .product-preview {
  margin: 0 5%;
  padding: 5% 0;
}
#product-page .product-preview .main-img {
  width: 90%;
}
#product-page .product-preview .main-img img {
  margin-left: 5%;
  width: 100%;
}
#product-page .product-preview .img-selector {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: space-between;
  flex-direction: column;
  border-right: 1px #8f8f8f solid;
  border-left: 1px #8f8f8f solid;
  padding: 2% 1.5%;
}
#product-page .product-preview .img-selector hr {
  width: 80%;
  display: block;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #8f8f8f;
}
#product-page .product-preview .img-selector img {
  transition: 0.2s ease;
  border-radius: 5px;
  width: 55px;
  height: auto;
}
#product-page .product-preview .img-selector img:first-child {
  margin-top: 0;
}
#product-page .product-preview .img-selector img:last-child {
  margin-bottom: 0;
}
#product-page .product-preview .img-selector img:hover {
  filter: brightness(var(--brightness-filter));
  transition: 0.2s ease;
}
#product-page .product-information {
  padding: 5% 0;
}
#product-page .product-information .product__name {
  margin-top: 8%;
  font-size: 2.15em;
}
#product-page .product-information .information-list {
  margin-top: 3%;
  margin-left: 25px;
}
#product-page .product-information .information-list li {
  margin: 5px 0;
}

#products-page section {
  margin-top: 84px;
}
#products-page section .section-title {
  padding-top: 7%;
}
#products-page section p {
  display: block;
  width: 80%;
  margin: 6% auto 0 auto;
  color: var(--color1);
  font-size: 1.15em;
  text-align: center;
}

#shop-page, #cart-page {
  margin-top: 84px;
}
#shop-page .side-menu, #cart-page .side-menu {
  position: fixed;
  left: 7px;
  width: 25%;
  border-radius: 10px;
  background: var(--defineBg2);
}
#shop-page .side-menu .wrapper, #cart-page .side-menu .wrapper {
  padding: 20px;
}
#shop-page .side-menu .wrapper h3, #cart-page .side-menu .wrapper h3 {
  color: var(--text-color);
}
#shop-page .side-menu .wrapper ul, #cart-page .side-menu .wrapper ul {
  list-style-type: none;
}
#shop-page .side-menu .wrapper li, #cart-page .side-menu .wrapper li {
  margin: 10px 0;
}
#shop-page .side-menu .wrapper input, #cart-page .side-menu .wrapper input {
  margin: 3px 0 0 5px;
  width: 15px;
  height: 15px;
}
#shop-page .side-menu .wrapper label, #cart-page .side-menu .wrapper label {
  color: var(--text-color);
  margin-left: 10px;
  vertical-align: bottom;
}
#shop-page .products, #cart-page .products {
  margin: 0;
  margin-left: calc( 25% + 14px );
}
#shop-page .products .products-wrapper, #cart-page .products .products-wrapper {
  border-radius: 10px;
  width: calc( 75vw - 21px );
  display: inline-block;
  background: var(--bg2);
}
#shop-page .products .products-wrapper h1, #cart-page .products .products-wrapper h1 {
  padding: 30px;
  margin-top: 15px;
  text-align: center;
  font-size: 260%;
  color: var(--text-color2);
}
#shop-page .products .products-wrapper .wrapper, #cart-page .products .products-wrapper .wrapper {
  position: relative;
}
#shop-page .products .products-wrapper .wrapper .top__img, #cart-page .products .products-wrapper .wrapper .top__img {
  margin: 0 8%;
  width: 84%;
}
#shop-page .products .products-wrapper .wrapper .top__img img, #cart-page .products .products-wrapper .wrapper .top__img img {
  margin-top: 9%;
}
#shop-page .products .products-wrapper .wrapper .bottom__description, #cart-page .products .products-wrapper .wrapper .bottom__description {
  display: flex;
  justify-content: space-between;
}
#shop-page .products .products-wrapper .wrapper .bottom__description .icons, #cart-page .products .products-wrapper .wrapper .bottom__description .icons {
  max-width: 80px;
  padding: 10% 8% 10% 0;
}
#shop-page .products .products-wrapper .wrapper .bottom__description .icons i, #cart-page .products .products-wrapper .wrapper .bottom__description .icons i {
  transition: color 0.2s ease;
  vertical-align: bottom;
  padding: 10%;
  font-size: 150%;
  float: right;
  color: var(--color1);
}
#shop-page .products .products-wrapper .wrapper .bottom__description .icons i:last-child, #cart-page .products .products-wrapper .wrapper .bottom__description .icons i:last-child {
  padding: 20% 10% 0;
}
#shop-page .products .products-wrapper .wrapper .bottom__description .icons i:hover, #cart-page .products .products-wrapper .wrapper .bottom__description .icons i:hover {
  transition: color 200ms ease;
  color: var(--linkColor);
}
#shop-page .products .products-wrapper .wrapper .bottom__description .icons i:active, #cart-page .products .products-wrapper .wrapper .bottom__description .icons i:active {
  transition-duration: 60ms;
  color: var(--button-active-color);
}
#shop-page .products .products-wrapper .wrapper .bottom__description a, #cart-page .products .products-wrapper .wrapper .bottom__description a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  text-decoration: none;
}
#shop-page .products .products-wrapper .wrapper .bottom__description a:hover, #cart-page .products .products-wrapper .wrapper .bottom__description a:hover {
  text-decoration: underline;
}
#shop-page .products .products-wrapper .wrapper .bottom__description h3, #cart-page .products .products-wrapper .wrapper .bottom__description h3 {
  padding: 10% 5% 10% 8%;
  margin-left: 8px;
  text-align: left;
}

#cart-page .side-menu {
  left: initial;
  right: 7px;
}
#cart-page .side-menu #checkout__button {
  font-weight: 500;
  transition: 0.2s ease;
  background-color: var(--linkColor);
  color: var(--text-color2);
  text-decoration: none;
  border-radius: 7px;
  display: block;
  margin-top: 10%;
  padding: 5%;
}
#cart-page .side-menu #checkout__button:hover {
  color: #000;
  transition: 0.2s ease;
  background-color: var(--button-hover-color);
}
#cart-page .side-menu #checkout__button:active {
  background-color: var(--button-active-color);
}
#cart-page .cart-products {
  margin: 0;
  width: calc( 75% - 21px );
  margin-right: calc( 25% - 14px );
  margin-left: 7px;
}
#cart-page .cart-products .cart-product {
  margin: 2% 0 2% 2%;
  padding: 2%;
  border-radius: 10px;
  display: flex;
  background-color: var(--bg2);
}
#cart-page .cart-products .cart-product:first-child {
  margin-top: 0;
}
#cart-page .cart-products .cart-product .img-container {
  width: 20%;
}
#cart-page .cart-products .cart-product .img-container img {
  border-radius: 5%;
  width: 100%;
  height: 100%;
}
#cart-page .cart-products .cart-product .product-text {
  padding-left: 5%;
  margin: 3% 0;
  color: var(--text-color);
  width: 80%;
  position: relative;
}
#cart-page .cart-products .cart-product .product-text .product-name {
  color: var(--color2);
  font-size: 1.65rem;
  padding-bottom: 3px;
}
#cart-page .cart-products .cart-product .product-text ul {
  list-style-type: none;
}
#cart-page .cart-products .cart-product .product-text ul li {
  font-size: 1.06rem;
}
#cart-page .cart-products .cart-product .product-text input.quantity-selector {
  position: absolute;
  bottom: -14px;
  max-width: 100%;
  margin-top: 5px;
  background: var(--defineBg);
  border: none;
  padding: 0.8%;
  border-radius: 7px;
  font-weight: bold;
  font-size: 1.015rem;
  border: 2px solid #00000000;
}
#cart-page .cart-products .cart-product .product-text input:focus {
  outline: none;
  border: 2px solid var(--text-color);
}
#cart-page .cart-products .cart-product .product-text .icons {
  position: absolute;
  bottom: -14px;
  right: 5%;
  font-size: 1.5rem;
  color: var(--text-color);
}
#cart-page .cart-products .cart-product .product-text .icons i {
  transition: color 0.2s ease;
  color: var(--color1);
}
#cart-page .cart-products .cart-product .product-text .icons i:hover {
  transition: color 200ms ease;
  color: var(--linkColor);
}
#cart-page .cart-products .cart-product .product-text .icons i:active {
  transition-duration: 60ms;
  color: var(--button-active-color);
}

/**************** footer ****************/
footer {
  color: var(--text-color);
  transition: 0.3s ease;
  height: 97px;
  border-radius: 10px;
  margin: 7px;
  background: var(--defineBg3-transparent);
  padding: 70px 5%;
}
footer .col-33 {
  padding-left: 7%;
}
footer .col-33 h2 {
  font-weight: 400;
  font-size: 180%;
}
footer .col-33 ul {
  margin-top: 20px;
}
footer .col-33 ul li {
  margin-top: 5px;
}
footer .col-33 ul li a {
  color: var(--linkColor);
  text-decoration: underline;
}

/**************** responsive ****************/
@media screen and (max-width: 992px) {
  .showcase h1 {
    margin-top: 15%;
  }
  .showcase h1, .showcase p {
    text-align: center;
    display: block;
  }
  .showcase img {
    margin: 0 auto;
  }

  .featured .flex, .partners .flex {
    align-items: center !important;
  }

  .flex {
    flex-direction: column;
  }

  .col-50 {
    width: 100%;
  }

  .col-55 {
    width: 100%;
    margin: 0 !important;
  }

  .col-45 {
    width: 100%;
    margin: 0 !important;
  }

  .res-rev {
    flex-direction: column-reverse;
  }

  footer {
    height: initial;
    text-align: center;
  }
  footer .flex .col-33 {
    width: 100%;
    padding: 0;
  }
  footer .flex .col-33:nth-child(1) h2 {
    margin-top: 0;
  }
  footer .flex h2 {
    margin-top: 20px;
  }
  footer .flex ul {
    margin: 0 !important;
    list-style-type: none;
  }

  #products-page section p {
    width: 85%;
    margin: 0 auto;
  }

  #shop-page .side-menu, #cart-page .side-menu {
    position: static;
    margin: 0 7px;
    width: calc( 100vw - 14px );
    border-radius: 10px;
  }
  #shop-page .side-menu ul, #cart-page .side-menu ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }
  #shop-page .side-menu li, #cart-page .side-menu li {
    width: 25%;
  }
  #shop-page .side-menu a, #cart-page .side-menu a {
    margin: 4% 0 3% 0 !important;
    padding: 2% !important;
  }
  #shop-page .products, #cart-page .products {
    margin-left: 0;
  }
  #shop-page .products .products-wrapper, #cart-page .products .products-wrapper {
    width: calc( 100vw - 14px );
    margin: 7px;
  }
  #shop-page .flex, #cart-page .flex {
    align-items: stretch;
    flex-direction: row;
  }
  #shop-page .flex .col-33, #cart-page .flex .col-33 {
    width: calc( 100% / 3 );
  }

  #cart-page .side-menu {
    top: 0;
    height: initial;
  }
  #cart-page .side-menu h3 {
    margin: 0;
    text-align: center;
  }
  #cart-page .products {
    margin: 2% auto 0;
    width: calc(100% - 14px);
  }
  #cart-page .products .cart-product {
    margin-left: 0;
  }
  #cart-page .products .cart-product ul {
    padding-bottom: 33px;
  }
  #cart-page .products .cart-product .img-container {
    min-width: 25%;
  }

  #product-page .product-information {
    padding-top: 3% !important;
  }
  #product-page .product-information .product-bottom-infos {
    margin: 3% 6% 0 !important;
  }
  #product-page .product-information .product-bottom-infos .price, #product-page .product-information .product-bottom-infos .input-wrapper {
    text-align: start;
  }
  #product-page .recommendations {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  #product-page .recommendations .section-title {
    font-size: 2rem !important;
  }
  #product-page .recommendations .flex {
    flex-wrap: wrap;
    flex-direction: row;
  }
  #product-page .recommendations .flex .col-25 {
    width: 45%;
    margin: 2.5%;
  }
  #product-page .product-preview {
    padding: 0;
  }
  #product-page .product-preview .main-img {
    width: 100%;
  }
  #product-page .product-preview .main-img img {
    display: block;
    margin: 0 auto;
    width: 60%;
  }
  #product-page .product-preview .img-selector {
    justify-content: space-evenly;
    border: none;
    height: 55px;
    flex-direction: row;
    width: calc( 100% - 21px );
  }
  #product-page .product-preview .img-selector hr {
    display: none;
  }
  #product-page .product-information {
    text-align: center;
  }
  #product-page .product-information .product__name {
    margin-top: 0;
  }
  #product-page .product-information .information-list {
    margin-left: 0;
  }
}
@media screen and (max-width: 720px) {
  nav {
    z-index: 0;
  }

  nav > ul {
    transition: 0s ease;
    opacity: 0 !important;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    line-height: 25px !important;
  }

  nav li {
    margin: 0 !important;
    width: 50%;
  }
  nav li a {
    display: table;
    margin: 10% auto;
  }

  nav ~ p {
    transition: opacity 0.3s ease;
    opacity: 1;
  }

  header:not(.expand) nav {
    display: none !important;
  }

  #shop-page .side-menu li {
    width: 50%;
  }
  #shop-page .flex {
    flex-direction: column;
    align-items: center !important;
  }
  #shop-page .flex .col-33 {
    width: 100%;
  }

  #cart-page .cart-product {
    text-align: center;
    flex-direction: column;
  }
  #cart-page .cart-product .product-text {
    width: 100% !important;
    padding-left: 0 !important;
  }
  #cart-page .cart-product .product-text ul {
    padding-bottom: 75px;
  }
  #cart-page .cart-product .product-text input.quantity-selector {
    left: 50%;
    transform: translateX(-50%);
  }
  #cart-page .cart-product .product-text .icons {
    bottom: 30px !important;
    left: 50%;
    transform: translateX(-50%);
  }
  #cart-page .cart-product .img-container {
    margin: 0 auto;
  }
}
@media screen and (min-width: 720px) {
  nav {
    z-index: 100;
  }

  nav > ul {
    transition: 0.1s ease;
    opacity: 1;
  }

  nav ~ p {
    transition: opacity 0.3s ease;
    opacity: 0;
  }
}
@media screen and (max-width: 576px) {
  .showcase .flex img {
    width: 90vw;
    height: initial;
  }
  .showcase .flex h1 {
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .product-presentation img {
    width: 90%;
    height: initial;
  }

  .featured .flex .wrapper, .partners .flex .wrapper {
    width: 80vw;
  }

  #product-page .recommendations .flex .col-25 {
    width: 95%;
    margin: 2.5%;
  }
}
@media screen and (max-width: 350px) {
  #shop-page .side-menu li {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */